.popup{
    position: fixed;
    margin: 28%;
    width: 40%;
    margin-top: -39%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
}

.message{
    margin: auto !important;
    margin-left: 40% !important;
    position: absolute !important;
    visibility: hidden;
    opacity: 0;
    top: -20%; /* 7% */
}

.list{
    margin-top: 50px;
}

.field{
    margin: 10px;
}