{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Library</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'js/function.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block style %}
    
    {% endblock style %}
</head>
<body>
    {% block body %}

    {% endblock body %}
</body>
    <script src="{% static 'js/script.js' %}"></script>
    {% block script %}
    
    {% endblock script %}
</html>
