<div class="card bg-light mb-4 shadow-lg">
    <div class="card-header">Message</div>
    <div class="card-body">
        <p class="card-text">Do you want to delete ?</p>
        <button class="btn btn-warning messageCancel btn-sm" style="float: left">Cancel</button>
        <button class="btn btn-danger messageDelete btn-sm" style="float: right">Delete</button>
    </div>
</div>

<script>
    $('.messageDelete').click(function () {
        $('.barrier').css({
            'transition': 'all 1s',
            'opacity': '0',
            'visibility': 'hidden'
        });

        $('.message').css({
            'transition': 'all 1s', 
            'visibility': 'hidden', 
            'opacity': '0', 
            'top': '-20%'
        });

        $.ajax({
            type: 'GET',
            url: '/deleteBooks/' + window.titleDelete,
            data: {
                
            },
            success: function (returnData) {

            }
        });

        window.refresh = refreshAjaxInterval(1500);
    });

    $('.messageCancel').click(function () {
        $('.barrier').css({
            'transition': 'all 1s',
            'opacity': '0',
            'visibility': 'hidden'
        });

        $('.message').css({
            'transition': 'all 1s', 
            'visibility': 'hidden', 
            'opacity': '0', 
            'top': '-20%'
        });

        window.refresh = refreshAjaxInterval(1500);
    });
</script>