
<div class="card book{{bookNumber}}">
    <h5 class="card-header" id="headerUpdateAdd">Update Data Book | Add Data Book</h5>
    <div class="card-body">
        <div class="title field">
            <label for="title">Title : </label>
            <input type="text" name="title" id="" class="form-control form-control-sm" value="{{book.title}}">
        </div>

        <div class="author field">
            <label for="author">Author : </label>
            <input type="text" name="author" id="" class="form-control form-control-sm" value="{{book.author}}">
        </div>

        <div class="genre field">
            <label for="genre">Genre : </label>
            <input type="text" name="genre" id="" class="form-control form-control-sm" value="{{book.genre}}">
        </div>

        <div class="publishDate field">
            <label for="publishDate">Publish Date : </label>
            <input type="datetime" name="publishDate" id="" class="form-control form-control-sm" value="{{book.publishDate}}">
        </div>

        <div class="pages field">
            <label for="pages">Pages : </label>
            <input type="number" name="pages" id="" class="form-control form-control-sm" value="{{book.pages}}">
        </div>

        <div class="price field">
            <label for="price">Price : </label>
            <input type="number" name="price" id="" class="form-control form-control-sm" value="{{book.price}}">
        </div>

        <button class="btn btn-danger cancel">Cancel</button>
        <button class="btn btn-primary save">Save</button>
    </div>
</div>

<script>

$('#headerUpdateAdd').text($('.popup').attr('message'));

$('.cancel').click(function (params) {
    $('.popup').css({'margin-top': '-39%', 'opacity': '0', 'visibility': 'hidden'});
    window.refresh = refreshAjaxInterval(1000);
});

$('.save').click(function (params) {
    if ($('.popup').attr('action') == 'update') {
        console.log('Update');
    } else if ($('.popup').attr('action') == 'create') {
        console.log('Create');
    }
})
</script>